#N
rst_n
clk_i
d_out\[.*\]

#W

#E
d_ctrl\[0\]
d_ctrl\[1\]
d_ctrl\[2\]
d_ctrl\[3\]
d_ctrl\[4\]
d_ctrl\[5\]
d_ctrl\[6\]
d_ctrl\[7\]

phi_top
phi_top_n
phi_bottom
phi_bottom_n
d_ctrl_n\[0\]
d_ctrl_n\[1\]
d_ctrl_n\[2\]
d_ctrl_n\[3\]
d_ctrl_n\[4\]
d_ctrl_n\[5\]
d_ctrl_n\[6\]
d_ctrl_n\[7\]
out_p
out_n
clk_o

#S